:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    background-color:darkslategrey;
    margin: 0;
    padding: 0;
}

.header{
    display:flex;
    justify-content: center;
    font-size:28px;
    background-color: black;
    color: white;
    padding: 30px 0px 30px 0px;  
}

#gridContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 100%; /* Occupy the available width */
    padding: 50px 10px;
    margin-left: 50px;
    box-sizing: border-box; /* Include padding in width calculation */
}


.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.grid-item:hover {
    background-color: lightslategrey;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
}

.main-board {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}



.controls {
    background-color: lightslategray;
    border: 1px solid black;
    padding: 10px;
    margin-right: 0px;
}

.control-label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-left: 42px;
}

.slider-value {
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}

.apply-control {
    margin-left: 40px;
    padding: 0px 30px 0px 30px;
    margin-top: 5px;
}
